@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&family=Fredoka:wght@300&display=swap');

html{
    font-family: var(--font-family);
}

body{
    padding: 0;
    margin: 0;
}

:root{
    --background-yelow: #ffe100;
    --font-size-title: 60px;
    --font-size-title2: 40px;
    --font-size-title3: 32px;
    --font-size-font: 24px;
    --font-size-title-big: 90px;
    --font-font-weight: bold;
    --font-family: "Fredoka", sans-serif;
    --font-family-f: "Fredericka the Great", serif;
    --font-family-c: "Dancing Script", cursive;
}

.--principal{
    width: 100%;
    background-color: var(--background-yelow);
    background-image: url(rectangle.png);
    background-repeat: no-repeat;
    background-size: 700px 100%;
    background-position: 100%;
    height: 850px;
    overflow: hidden;
}

.navbar{
    /* position: fixed; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 200px;
    margin-bottom: -20px;
    margin-left: 40px;
    margin-right: -40px;
}

.logo1{
    margin-bottom: 60px;
    width: 272px;
    height: 180px;
}

.navbar__content{ 
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__navbar{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.caja_contacto{
    display: flex;
    
}

.num{
    font-size: var(--font-size-title3);
}

.caja_links{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.lista_ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.phone{
    margin-top: 10px;
    width: 50px;
    height: 60px;
    margin-right: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: var(--font-font-weight);
    font-size: var(--font-size-font);
    margin-right: 40px;
}

.text_right{
    text-align: right;
}

.pasta{
    position: absolute;
    left: 1000px;
    top: 180px;
    width: 650px;
    height: 650px;
}

.text1{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.cursive{
    padding: 0;
    margin: 0;
    font-family: var(--font-family-c);
    font-size: var(--font-size-title);
    font-weight: var(--font-font-weight);
}

.fred{
    padding: 0;
    margin: 10px;   
    font-family: var(--font-family-f);
    font-size: var(--font-size-title-big);
}

.lets{
    font-size: var(--font-size-font);
    font-weight: var(--font-font-weight);
}

.suma{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-f);
    margin-bottom: 10px;
}

.suma p{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.sum{
    margin-left: 10px;  
    font-size: var(--font-size-title2);
}

.raya{
    background-color: rgba(0, 0, 0, 0.445);
    width: 40%;
    height: 1px;
}

.--macarron{
    position: absolute;
    top: 200px;
    left: 800px;
}

.--tomate{
    position: absolute;
    top: 750px;
    left: 750px;
}

.--leaf{
    position: absolute;
    top: 650px;
    left: 1650px;
}

.--leaf2{
    position: absolute;
    top: 250px;
    left: 150px;
}

.text1_button{
    margin: 0;
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

